body {
    font-family: 'Helvetica', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("images/backgroundNature.jfif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #135011;
    
}

header {
    display: flex;
    background-color: #135011;
    color: #ecf0f1;
    padding: 20px;
    text-align: left;
    align-items: center;
}

h1 {
    margin-bottom: 10px;
    font-family: 'Times New Roman', serif;

}

nav {
    background-color: #0e3316;
    overflow: hidden;
}

nav a {
    float: left;
    display: block;
    color: #ecf0f1;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#newsletterForm {
    max-width: 800px;
    margin: 25em auto;
    padding: 1em;
    border: 1px solid #ddd;
    background-color: #ddd;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 0.5em;
}

input {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
}

button {
    background-color: #4CAF50;
    color: #ecf0f1;
    padding: 0.5em 1em;
    border: none;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #135011;
    color: #ecf0f1;
    position: fixed;
    bottom: 0;
    width: 100%;
}